html {
   box-sizing: border-box;
   height: 100%;
}

body {
   min-height: 100%;
   background-color: #d7d5d5;
   display: flex;
   align-items: center;
}

*,
*::before,
*::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

.game-container {
   width: min(73vw, 73vh);
   margin: 0 auto;
   padding: 0 10px;
   background-color: aquamarine;
}

.game-header{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

}

.game-header > div:first-child{
   margin-right: auto ;
   visibility: hidden;
}

.hidden-gear{
   margin-right: auto;
   width: 24px;
}

.gear-container{
   margin-left: auto;
   width: 24px;
   cursor: pointer;
}

.gear {
   pointer-events: none;
}

.gear-container:hover{
   transform: scale(1.2, 1.2);
   transition: transform 0.3s;
}

.settings {
   display: none;
   overflow: hidden;
   position: absolute;
   width: 100%;
   aspect-ratio: 1;
   background-color: rgba(219, 217, 217, 0.648);   
   border: 2px solid black;
}

.settings .field{
   font-size: 1rem;
   margin: 10px;
}

.settings button {
   font-size: 1rem;
   margin-left: 10px;
}

.visible {
   display: block;
}

.board-container{
   position: relative;
   display: flex;
   justify-content: center;
   width: 100%;
   aspect-ratio: 1;
}

.board {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   background-color: white;
}

.cell {
   flex-grow: 1;
   width: 33%;
   border: 1px solid black;
}

.menu{
   grid-area: settings;
}

button.start-game{
   font-size: 1rem;
   font-weight: bold;
   border: 2px solid black;
   padding: 0.2em;
   display: block;
   margin: 0.5em auto;
   cursor: pointer;
}

button.start-game:hover{
   transform: scale(1.2, 1.2);
   transition: transform 0.3s;
}

button.start-game:active{
   background-color: rgb(198, 198, 198);
}